/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}



/* Header Area Design */

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bannerimage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #fff;
}

.banner-content h4 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 5rem;
}



/* Offer Section Design */

.offer-section-content {
    text-align: center;
    padding: 100px 0px;
}

.offer-section-text h1 {
    color: #f00;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 35px;
}

.offer-section-text h5 {
    color: #f00;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer-section-text h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}

.offer-section-img img {
    width: 700px;
}



/* Party Section Design */

.party-section {
    /* width: 100%; */
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.party-section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 50px;
}

.party-section-text h2 {
    font-size: 55px;
    color: #fff;
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.party-section-text p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
    line-height: 1.5rem;
}

.party-section-text button {
    margin-left: 25px;
    background: transparent;
    color: #fff;
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}




/* Event Section Design */

.event {
    margin: 100px 0px;
}

.event-section {
    height: 380px;
    margin: 100px 0px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.10);
    border-radius: 15px;
}

.event-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.event-section-content span {
    color: #f00;
    font-weight: 600;
}

.event-section-content p {
    color: #070211;
    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;
}

.event-section-content .event-btn {
    margin-top: 30px;
    background-color: #f00;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
}




/* Coming Soon Section Design */

.coming-soon-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin: 100px 0px;
}

.coming-soon-text h5 {
    color: #f00;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.coming-soon-text h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.coming-soon-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
}

.coming-soon-img img {
    width: 360px;
    height: 360px;
    outline: 15px solid #f00;
    border-radius: 50%;
    padding: 20px;
}

.coming-soon-year h3 {
    color: #f00;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 90px;
}

.coming-soon-year p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.coming-soon-year img {
    width: 140px;
    height: 140px;
}






/* Holiday Section Design */

.holiday {
    margin: 120px 0px 0px 100px;
    text-align: center;
}

.holiday-header-text h5 {
    color: #070211;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.holiday-header-text h1 span {
    color: #f00;
    font-family: 'Merriweather', serif;
}

.holiday-header-text h1 {
    color: #070211;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

.holiday-header-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    line-height: 1.5rem;
}

.holiday-img-content {
    height: 650px;
    background-image: url('../images/Rectangle2.png'), url('../images/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: bottom, top right;

}

.holiday-img-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.holiday-img-content .gift-box {
    margin-top: 100px;
}

.holiday-img-content .discount {
    margin: 0px 320px 170px 0px;
}





/* Portfolio Section Design */

.portfolio {
    margin: 100px 0px;
}

.portfolio-header-text h5 {
    color: #f00;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.portfolio-header-text h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.portfolio-header-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.5rem;
}

.portfolio-image img {
    width: 350px;
    height: 380px;
    margin: 0px 10px 10px 0px;
}

.portfolio-image {
    transition: all 1s ease-in-out;
}
.thumbnail:hover{
    opacity:0.5;
    transform: scale(0.9);
}





/* Newsletter Section Design */

.newsletter {
    height: 550px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content img {
    font-size: 100px;
    margin-bottom: 30px;
}

.newsletter-content h3 {
    color: #070211;
    font-size: 36px;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.newsletter-content p {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    color: rgba(7, 2, 17, 0.60);
    line-height: 1.8rem;
}

.newsletter-content input[type="email"]{
    width: 50%;
    padding: 15px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#submit{
    border: none;
    padding: 15px;
    margin-left: -3px;
    width: 100px;
    background-color: #f00;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
    margin-top: 2px;
}

::placeholder{
    font-size: 15px;
}




/* FooterSection Design */

footer{
    background: #070211; 
    color: #fff;
    height: 450px;
    margin-top: 100px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(71, 70, 70);
}

.top-footer p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
}

.top-footer-info{
    margin-right: 100px;
    line-height: 1.7rem;
}
.top-footer-info img{
    width: 17px;
    margin-right: 5px;
    
}

.footer-social {
    text-align: center;
    padding: 40px 0px;
    border-bottom: 1px solid rgb(71, 70, 70);
}

.footer-social img{
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}